<h1>Showing article details</h1>

<!-- use to embedd in ruby code and display to the page -->
<!-- by using it you can access the instance variable -->
<p><strong>Title: </strong><%= @article.title %></p>
<p><strong>Description: </strong><%= @article.description %></p>